.Card {
    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    grid-template-rows: min-content;
    /* justify-content: center; */

    text-align: center;
    /* background-color: aliceblue; */
    font: 300 12px/1 'Open Sans', sans-serif;
    /* display: inline-block; */
    border-radius:.5rem;
    padding: 4rem;
    margin: 2rem;
    /* border-width:.25rem; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: box-shadow .5s ease, transform .2s ease;
}

.Card:hover,
.Card:active {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}

.btn,
.btn:link,
.btn:visited {
    position: relative;
	display: inline-block;
    padding: .8em 2em;
    margin: 2rem;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.6rem;
	text-align: center;
	cursor: pointer;
	/* user-select: none; */
    color: white;
    background: linear-gradient(135deg, #2b5876, #4e4376);
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	transition: box-shadow .5s ease, transform .2s ease;
}

.picture {
    margin: 0px;
    width: 100%;
    align-self: start;
    justify-self: start;
    /* box-shadow: 0 2rem 5rem rgba(#000, .1); */
}

.callAction {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    align-self: center;
    justify-self: end;
}

.callAction h1 {
    color: #E16800;
    font-size: 3rem;
}

.callAction p {
    line-height: 1.5;
}

.info {
    grid-column: 2 / span 1;
    /* grid-row: 1 / span 1; */
    text-align: left;
    margin-left: 2rem;
    align-self: start;
    justify-self: start;
    line-height: 1.2;
}

.info ul {
    list-style: none;
    padding: 0px;
}

/* .info ul li.icons {
    background: url("../../../assets/icons/amenities/business-center.svg") no-repeat center;
    background-image: url("../../../assets/icons/amenities/business-center.svg");
    background-size: contain;
} */

.info h2 {
    color: #0679B3;
    font-size: 1.5rem;
}

.btn:hover,
.btn:focus {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}


.btn:active {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}

.span {
    font: 300 24px/1 'Open Sans', sans-serif;
}

/* .Card:nth-last-child(-n+3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
} */
/*
.icon {
    fill: #2b5876;
    width: 4.5rem;
    height: 4.5rem;
    transform: translateY(-1rem);
} */

@media (max-width: 62.5em) {
  .Card {
    /* grid-template-columns: 1fr 3fr 1fr; */
    /* grid-template-columns: min-content max-content; */
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    /* grid-template-columns: repeat(3, min-content max-content); */
    /* grid-template-columns: 1fr max-content 1fr; */
    /* grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr)); */
    align-self: center;
    justify-self: center;
  }

  .picture {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    margin: 0px;
  }

  .info {
    grid-column: 2 / span 1;
    /* text-align: left; */
    margin: 0px;
    text-align: center;
    margin-left: 2rem;
  }

  .info ul {
    text-align: left;
  }

  .callAction {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    align-self: center;
    justify-self: center;
  }

  /* .callAction button {
    /* padding: auto 6rem;
  } */
}